<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-Jose-Bernardo-Moreno-Villarreal/blob/main/Actividad_de_semana_1_2_Python_for_Data_Science_(IBM).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# A01794050 - Moreno Villarreal José Bernardo

*En cada una de las secciones del curso de IBM agrego un comentario sobre lo aprendido. Teclee los ejercicios para poder correrlos en la plataforma de Colab*

*La primer seccion del curso me mostró comandos básicos de impresión de texto en la pantalla, la asignación de valores a variables y su despliegue, asi como los tipos de datos existentes. 

Esta parte resulta fundamental ya que el entender el tipo de variable a utilizar no permite razonar y aplicar diferentes operaciones para su procesamiento.*

## Module 1 - Python Basics: Your First Program

Question 1

In [3]:
print("Esta es mi primer tarea de Ciencia de datos")
print("Mi nombre es Josè Bernardo Moreno Villarreal")
print("Mi matrìcula es A017904050")

Esta es mi primer tarea de Ciencia de datos
Mi nombre es Josè Bernardo Moreno Villarreal
Mi matrìcula es A017904050

Question 2

In [ ]:
# print('Este es mi primer comentario de la clase!')

# Module 1 - Python Basics: Types

Existen diferentes tipos de datos. Se puede conocer el tipo de dato utilizado mediante el comando Type. 

Los diferentes tipos de datos mostrados son: 

integer
float 
bool
string

In [6]:
type(int(1.0))

int

In [ ]:
bool(1)

True

# Module 1 - Python Basics: Expressions and Variables

Se pueden realizar operaciones directamente en pantalla o asignar valores a una variable. Se puede sobre escribir la variable o mandar a llamar el valor de la variable.

Ejercicios presentados en el video de explicación:

In [ ]:
50-60

-10

In [ ]:
25/6

4.166666666666667

In [ ]:
25//6

4

In [ ]:
(30+2)*60

1920

In [ ]:
my_variable=1

In [ ]:
my_variable

1

In [ ]:
my_variable=10

In [ ]:
my_variable

10

In [ ]:
x=34+43+5+9

# Module 1 - Python Basics: - Write your first Python program

Ejercicios presentados en el video:

In [ ]:
print('Hello, Python!')

Hello, Python!

In [ ]:
import sys 
print(sys.version)

3.7.14 (default, Sep  8 2022, 00:06:44)
[GCC 7.5.0]

In [ ]:
#Practice on writing

In [ ]:
x=40//10
y=5+7
z=x*y
print(z)

48

# Module 1 - Python Basics: - String Operations

Question 1

In [ ]:
Numbers="0123456"
print(Numbers[::2])

0246

Question 2

In [ ]:
"0123456".find('1')

1

In [ ]:
Name="Michael Jackson" 
Name[::2]

'McalJcsn'

In [ ]:
Name[0:5:2]

'Mca'

In [ ]:
Statement= " is the best"
Name="Michael Jackson"
Name=Name+Statement
NAME=Name.upper()
print(Name)
print(NAME)

Michael Jackson is the best
MICHAEL JACKSON IS THE BEST

# Module 1 - Python Basics: - Lab string operators

En Python se puede realizar operaciones con datos tipo string. Se pueden segmentar, transformar, buscar algun elemento en el arreglo. Este tipo de operaciones nos puede permitir trabajar con arreglos y organizar la informaciòn de mejor manera.

In [ ]:
d="ABCDEFG"
print(d[:3])

ABC

Se imprime el valor en string cada 2 elementos.

In [ ]:
e= "clocrkr1e1c1t"
print(e[::2])

correct

In [ ]:
f="You are wrong"
print(f.upper())

YOU ARE WRONG

In [ ]:
g= "Mary had a little lam, little lamb"
g.find("had")

5

In [ ]:
print(g.replace("Mary", "Bob"))

Bob had a little lam, little lamb

# Review Questions

1.-What is the result of the following operation in Python 
3+2*2

In [ ]:
3+2*2

7

2.- In Python, if you executed name = "Lizz", what would be the output of print(name[0:2])?

In [ ]:
name='Lizz'
print(name[0:2])

Li

3.- In Python, if you executed var = '01234567', what would be the result of print(var[::2])?

In [ ]:
var='01234567'
print(var[::2])

0246

4.- InPython, what is the result of the following operation '1'+'2'?

In [ ]:
'1'+'2'

'12'

5.-Given myvar = 'hello', how would you convert myvar into uppercase?

In [ ]:
myvar='hello'
print(myvar.upper())

HELLO

# Module 2 - Python Data Structures: List and Tuples

En esta secciòn se mostrò el tipo de datos estructurados, entre ellos las listas y tuples. 


Lista -> Mutable  

Tuple -> No Mutable

Tuples: 

*   An ordered sequence
*   Written as comma - sepparated elements within parentheses
*   Type of variable is Tupple
*   They are inmutable, they can not be modified. 

List: 

*  Ordered sequences 
*  Are mutable
*  They are mutable

Question 1: How do you access the last element of the following tuple: A=(0,1,2,3)? Select all possible correct answers.

In [ ]:
A=(0,1,2,3)
print(A[3])
print(A[-1])

3
3

Question 2: Consider the list: B=["a","b","c"].

What is the result of the following B[1:]?

In [ ]:
B=["a","b","c"]
print(B[1:])

['b', 'c']

In [ ]:
A=(0,1,2,3)
print(A[:2])
B=["a","b","c"]
print(B[:2])

(0, 1)
['a', 'b']

In [ ]:
B[0]="A"
print(B)

['A', 'b', 'c']

# Module 2 - Python Data Structures : Lab  Tuples

En el módulo 2 se muestra la utilizaciòn de Tuples, Listas y sets .

In [ ]:
#Create your first tuple 
tuple1=("disco",10,1.2)
tuple1
type(tuple1)

tuple

In [ ]:
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [ ]:
print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
print(tuple1[-1])
print(tuple1[-2])
print(tuple1[-3])

1.2
10
disco

In [ ]:
tuple2= tuple1+("hard rock",10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [ ]:
tuple2[0:3]

('disco', 10, 1.2)

In [ ]:
tuple2[3:5]

('hard rock', 10)

In [ ]:
len(tuple2)

5

In [ ]:
ratings=(0,9,6,5,10,8,9,6,2)
RatingsSorted= sorted(ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [ ]:
NestedT= (1,2,("pop","rock"),(3,4),("disco",(1,2)))
print("Element 0 of Tuple", NestedT[0])
print("Element 1 of Tuple", NestedT[1])
print("Element 2 of Tuple", NestedT[2])
print("Element 3 of Tuple", NestedT[3])
print("Element 4 of Tuple", NestedT[4])

Element 0 of Tuple 1
Element 1 of Tuple 2
Element 2 of Tuple ('pop', 'rock')
Element 3 of Tuple (3, 4)
Element 4 of Tuple ('disco', (1, 2))

In [ ]:
print("Element 2,0 of Tuple", NestedT[2][0])
print("Element 2,1 of Tuple", NestedT[2][1])
print("Element 3,0 of Tuple", NestedT[3][0])
print("Element 3,1 of Tuple", NestedT[3][1])
print("Element 4,0 of Tuple", NestedT[4][0])
print("Element 4,1 of Tuple", NestedT[4][1])

Element 2,0 of Tuple pop
Element 2,1 of Tuple rock
Element 3,0 of Tuple 3
Element 3,1 of Tuple 4
Element 4,0 of Tuple disco
Element 4,1 of Tuple (1, 2)

In [ ]:
NestedT[2][1][0]

'r'

In [ ]:
NestedT[2][1][1]

'o'

In [ ]:
NestedT[4][1][0]

1

In [ ]:
NestedT[4][1][1]

2

In [ ]:
#Sample Tuple 
geneeres_tuple = ("pop","rock","soul","hard rock","soft rock", "R&B","progressive rock", "disco")
len(geneeres_tuple)
print(geneeres_tuple[3])
print(geneeres_tuple[3:6])
print(geneeres_tuple[:2])
print(geneeres_tuple.index("disco"))
sortedList= sorted(geneeres_tuple)
print(sortedList)

hard rock
('hard rock', 'soft rock', 'R&B')
('pop', 'rock')
7
['R&B', 'disco', 'hard rock', 'pop', 'progressive rock', 'rock', 'soft rock', 'soul']

# Module 2 - Python Data Structures: Lab - Lists

In [ ]:
L=["Michael Jackson",10.1, 1982]
print("The same element using positive: ",L[0]," and negative index: ", L[-3])
print("The same element using positive: ",L[1]," and negative index: ", L[-2])
print("The same element using positive: ",L[2]," and negative index: ", L[-1])

The same element using positive:  Michael Jackson  and negative index:  Michael Jackson
The same element using positive:  10.1  and negative index:  10.1
The same element using positive:  1982  and negative index:  1982

In [ ]:
L=["Michael Jackson",10.1, 1982,[1,2],("A",1)]
L[3:5]

[[1, 2], ('A', 1)]

In [ ]:
L.extend(["pop",10])
print(L)

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1), 'pop', 10, 'pop', 10, 'pop', 10]

In [ ]:
L=["Michael Jackson",10.1, 1982]
L.append(["pop",10])
print(L)

['Michael Jackson', 10.1, 1982, ['pop', 10]]

In [ ]:
L=["Michael Jackson",10.1, 1982]
L.extend(["pop",10])
print(L)

['Michael Jackson', 10.1, 1982, 'pop', 10]

In [ ]:
A= ["disco",10,1.2]
print( "Before change: ",A)
A[0]="hard Rock"; 
print("After change: ", A)

Before change:  ['disco', 10, 1.2]
After change:  ['hard Rock', 10, 1.2]

In [ ]:

print( "Before change: ",A)
del(A[0]); 
print("After change: ", A)

Before change:  ['hard Rock', 10, 1.2]
After change:  [10, 1.2]

In [ ]:
"hard rock".split()

['hard', 'rock']

In [ ]:
"A,B,C,D".split(",")

['A', 'B', 'C', 'D']

In [ ]:
A=["hard rock",10,1.2]
B=A
print("A:",A)
print("B:",B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [ ]:
print("B[0]: ", B[0])
A[0]="Banana"
print("B[0]: ", B[0])
print("A[0]: ", A[0])

B[0]:  Banana
B[0]:  Banana
A[0]:  Banana

In [ ]:
B=A[:]
B

['Banana', 10, 1.2]

In [ ]:
print("B[0]: ", B[0])
A[0]="Hard Rock"
print("B[0]: ", B[0])
print("A[0]: ", A[0])

B[0]:  Banana
B[0]:  Banana
A[0]:  Hard Rock

QUIZZ

In [ ]:
List=(1,"hello",[1,2,3],True)
print(List[1])
print(List[:3])

hello
(1, 'hello', [1, 2, 3])

In [ ]:
A=[1,"A"]
B=[2,1,"d"]
A+B

[1, 'A', 2, 1, 'd']

# Module 2 - Python Data Structures: Sets



*   Sets are type of collection
*   They are unordered
*   Only have unique Elements

Question 1: What is the result of the following lines of code:

S={'A','B','C'}

U={'A','Z','C'}

U.union(S)

In [ ]:
S={'A','B','C'}

U={'A','Z','C'}

U.union(S)

{'A', 'B', 'C', 'Z'}

Question 2: What is the intersection of set S and U?

S={'A','B','C'}

U={'A','Z','C'}

In [ ]:
S={'A','B','C'}
U={'A','Z','C'}
K= S&U
print(K)

{'C', 'A'}

In [ ]:
set(["A","B","C","A","B","C"])

{'A', 'B', 'C'}

In [ ]:
S=set(["A","B","C","A","B","C"])
S.add("D")
print(S)

{'C', 'D', 'A', 'B'}

In [ ]:
#Intersection of a set 
A={1,2,3,4,5}
B={1,3,9,12}
print(A.intersection(B) )
print(A&B)

{1, 3}
{1, 3}

# Module 2 - Python Data Structures: Lab - Sets

In [ ]:
set1={"pop","rock","soul", "hard rock", "rock", "R&B", "rock", "disco"}

In [ ]:
album_list= ["Michael Jackson","Thriller",1982,"00:42:19","Pop,Rock, R&B", 46.0, 65,"30-Nov-82", None,10.0]
album_set= set(album_list)
album_set

{'00:42:19',
 10.0,
 1982,
 '30-Nov-82',
 46.0,
 65,
 'Michael Jackson',
 None,
 'Pop,Rock, R&B',
 'Thriller'}

In [ ]:
music_genres = set (["pop","pop","rock", "folk", "folck rock", "hard rock","soul","progressive rock","soft rock", "R&B","disco"])

In [ ]:
A= set(["Thriller","Back in Black", "AC/DC"])

In [ ]:
A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [ ]:
A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [ ]:
"AC/DC" in A

True

In [ ]:
album_set1 = set (["Thriller", "AC/DC", "Back in Black"])
album_set2 = set (["Ac/DC","Back in Black", "The Dark Side of the Moon"])

album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'Ac/DC', 'Back in Black', 'The Dark Side of the Moon'})

In [ ]:
intersection = album_set1 & album_set2
intersection

{'Back in Black'}

In [ ]:
album_set1.difference(album_set2)

{'AC/DC', 'Thriller'}

In [ ]:
album_set2.difference(album_set1)

{'Ac/DC', 'The Dark Side of the Moon'}

In [ ]:
album_set1.intersection(album_set2)

{'Back in Black'}

In [ ]:
album_set1.union(album_set2)

{'AC/DC', 'Ac/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [ ]:
set(album_set1).issuperset(album_set2)

False

In [ ]:
set(album_set1).issubset(album_set2)

False

In [ ]:
set({"Back in Black","AC/DC"}).issubset(album_set1)

True

Quiz on Sets

In [ ]:
set(["rap","house","electronic music", "rap"])

{'electronic music', 'house', 'rap'}

In [ ]:
A=[1,2,2,1]
B= set([1,2,2,1])
sum(A)==sum(B)

False

In [ ]:
album_set1 = set(["Thriller", "AC/DC", "Back in Black"])
album_set2 = set (["AC/DC", "Back in Black", "The Dark Side of the moon"])
album_set3 = album_set1.union(album_set2)
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the moon', 'Thriller'}

In [ ]:
album_set1.issubset(album_set3)

True

# Module 2 - Phyton Data Structures: Dictionaries

Los diccionarios funcionan como identificadores y localizadores de informaciòn. De manera general, al momento de llamar el elemento "key" nos va a regresar el valor asociado, de esta manera funciona como un diccionario, al buscar una palabra o elemento nos dara un significado o valor.

Question 1 : Consider the following dictionary:

D = {'a':0,'b':1,'c':2}

What is the result of the following: D.values()

In [ ]:
D = {'a':0,'b':1,'c':2}
D.values()

dict_values([0, 1, 2])

Question 2: Consider the following dictionary:

D = {'a':0,'b':1,'c':2}
What is the output of the following D['b']?

In [ ]:
D = {'a':0,'b':1,'c':2}
D["b"]

1

# Module 2 - Phyton Data Structures: Lab - Dictionaries

In [ ]:
Dict = {"key1": 1, "key 2": "2", "key3": [3,3,3],"key4":(4,4,4), "key5":5,(0,1):6}

In [ ]:
Dict["key1"]

1

In [ ]:
Dict[(0,1)]

6

In [ ]:
release_year_dict={"Thriller":1982, "Back in Black": 1980, "The Dark Side of the Moon": 1973, "The Bodyguard": 1992, "Bat out the hell": 1977}
release_year_dict

{'Thriller': 1982,
 'Back in Black': 1980,
 'The Dark Side of the Moon': 1973,
 'The Bodyguard': 1992,
 'Bat out the hell': 1977}

In [ ]:
release_year_dict["Thriller"]

1982

In [ ]:
release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat out the hell'])

In [ ]:
release_year_dict.values()

dict_values([1982, 1980, 1973, 1992, 1977])

In [ ]:
release_year_dict["Graduation"]= "2007"
release_year_dict

{'Thriller': 1982,
 'Back in Black': 1980,
 'The Dark Side of the Moon': 1973,
 'The Bodyguard': 1992,
 'Bat out the hell': 1977,
 'Graduation': '2007'}

In [ ]:
"The Bodyguard" in release_year_dict

True

QUIZ

In [ ]:
soundtrack_dic = {"The Bodyguard": 1992, "Saturday Night Fever": "1977"}
soundtrack_dic

{'The Bodyguard': 1992, 'Saturday Night Fever': '1977'}

In [ ]:
soundtrack_dic.keys()

dict_keys(['The Bodyguard', 'Saturday Night Fever'])

In [ ]:
soundtrack_dic.values()

dict_values([1992, '1977'])

In [ ]:
album_sales_dict ={"Back in Black":50, "The Bodyguard":50, "Thriller":65}

In [ ]:
album_sales_dict["Thriller"]

65

# Review Questions

1.- What is the syntax used to obtain the first element of the tuple:

A = ('a','b','c')

In [ ]:
A = ('a','b','c')
A[0]

'a'

4.- Consider the following Python dictionary:

Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}

What is the result of the following operation: Dict["D"]?

In [ ]:
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}
Dict["D"]

(4, 4, 4)

# Module 3 - Python Programming Fundamentals: Conditions and Branching

Question 1: Select the values of i that produces a True for the following:

i!=0

In [ ]:
i=1
print(i!=0)
i=0
print(i!=0)
i=-1
print(i!=0)
i=100000000
print(i!=0)

True
False
True
True

Question 2: What is the output of the following:

x='a'

if(x!='a'):

print("This is not a.")

else:

print("This is a.")

In [ ]:
x='a'

if(x!='a'):  print("This is not a.")

else:  print("This is a.")

This is a.

En el módulo 3 podemos ver diferentes sentencias y funciones. Este tipo de codigo nos permite eficientar el codigo mediante la automatizaciòn de procesos.

# Module 3 - Python Programming Fundamentals: Lab-Conditions and Branching

Write an if statement to determine if an album had a rating greater than 8. Test it using the rating for the album "Back in Black" that had a rating of 8.5. If statement is true print "This album is amazing".

In [ ]:
BackInBlack_rating= 8.5
Rating=8 

if (BackInBlack_rating> Rating): print ("This album is amazing")

This album is amazing

Write an if-else statement that performs the following. If the rating is larger then eight print “this album is amazing”. If the rating is less than or equal to 8 print “this album is ok”.

In [ ]:
BackInBlack_rating= 8.5
Rating=8 

if (BackInBlack_rating> Rating): print ("This album is amazing")
else: print("This album is ok")

Write an if statement to determine if an album came out before 1980 or in the years: 1991 or 1993. If the condition is true print out the year the album came out.

In [ ]:
album_year= 1979
Rating=8 

if album_year < 1980 or album_year == 1991 or album_year == 1993:
    print("This album came out in year", album_year)

This album came out in year 1979

# Module 3 - Python Programming Fundamentals: Loops

Question 1: What is the output of the following lines of code:

A=[3,4,5]

for a in A:

print(a)

In [ ]:
A=[3,4,5]

for a in A: print(a)

3
4
5

Question 2: What is the output of the following lines of code:

x=3

y=1

while(y!=x):

print(y)

y=y+1

In [ ]:
x=3

y=1

while(y!=x): 
  print(y)
  y=y+1

1
2

# Module 3 - Python Programming Fundamentals:Lab Loops

---

Write a for loop the prints out all the element between -5 and 5 using the range function.

In [ ]:
for a in range (-4,5): print(a)

-4
-3
-2
-1
0
1
2
3
4

Print the elements of the following list: Genres=[ 'rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop'] Make sure you follow Python conventions.

In [ ]:
Generos = ['rock', 'R&B', 'Soundtrack', 'R&B', 'soul', 'pop']
for Generos in Generos:
    print(Generos)

rock
R&B
Soundtrack
R&B
soul
pop

Write a for loop that prints out the following list: <code>squares=\['red', 'yellow', 'green', 'purple', 'blue']</code>

In [ ]:
squares=['red', 'yellow', 'green', 'purple', 'blue']
for squares in squares: print(squares)

red
yellow
green
purple
blue

Write a while loop to display the values of the Rating of an album playlist stored in the list <code>PlayListRatings</code>. If the score is less than 6, exit the loop. The list <code>PlayListRatings</code> is given by: <code>PlayListRatings = \[10, 9.5, 10, 8, 7.5, 5, 10, 10]</code>

In [ ]:
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
element =0; 
Rating = PlayListRatings[element]
while (element< len(PlayListRatings) and Rating>= 6):
  print(PlayListRatings[element])
  element= element +1

10
9.5
10
8
7.5
5
10
10

Write a while loop to copy the strings 'orange' of the list squares to the list new_squares. Stop and exit the loop if the value on the list is not 'orange':

In [ ]:
squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []
element = 0


while (element< len(squares) and (squares[element]=='orange') ): 
  new_squares.append(squares[element])
  print(new_squares)
  element= element +1

['orange']
['orange', 'orange']

# Module 3 - Python Programming Fundamentals: Functions

Question 1: What is the value of c after the following block of code is run ?

a=1

def add(b):

return a+b

c=add(10)

In [ ]:
a=1

def add(b): return a+b

c=add(10)
print(c)

11

Question 2: What is the value of c after the following block of code is run with proper numerical input?

def f(*x):

return sum(x)

In [ ]:
def f(*x): return sum(x)

In [12]:
def division(A,B) : return(A/B)
division(8,4)

2.0

In [13]:
def suma(A,B): return(A+B)
suma(5,2)

7

# Module 3 - Python Programming Fundamentals: Objects and Classes

In [14]:
make="Honda"

model="Accord"

color="blue"

# Review Questions

In [16]:
x=1

if(x!=1): print('Hello')

else: print('Hi')

print('Mike')

Hi
Mike

In [17]:
A = ['1','2','3']

for a in A:print(2*a)

11
22
33

In [21]:
def Delta(x):
    if x==0: y=1
    else: y=0
    return(y)

Delta(0)

1

In [ ]:
B=