<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-Jose-Bernardo-Moreno-Villarreal/blob/main/Actividad_de_semana_1_2_Python_for_Data_Science_(IBM).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Module 1 - Python Basics: Your First Program

Question 1

In [ ]:
print("Hello\nWorld!")

Hello
World!

Question 2

In [ ]:
# print('Hello World!')

# Module 1 - Python Basics: Types

In [ ]:
type(int(1.0))

int

In [ ]:
bool(1)

True

# Module 1 - Python Basics: Expressions and Variables

In [ ]:
50-60

-10

In [ ]:
25/6

4.166666666666667

In [ ]:
25//6

4

In [ ]:
(30+2)*60

1920

In [ ]:
my_variable=1

In [ ]:
my_variable

1

In [ ]:
my_variable=10

In [ ]:
my_variable

10

In [ ]:
x=34+43+5+9

# Module 1 - Python Basics: - Write your first Python program

In [ ]:
print('Hello, Python!')

Hello, Python!

In [ ]:
import sys 
print(sys.version)

3.7.14 (default, Sep  8 2022, 00:06:44)
[GCC 7.5.0]

In [ ]:
#Practice on writing

In [ ]:
x=40//10
y=5+7
z=x*y
print(z)

48

# Module 1 - Python Basics: - String Operations

Question 1

In [ ]:
Numbers="0123456"
print(Numbers[::2])

0246

Question 2

In [ ]:
"0123456".find('1')

1

In [ ]:
Name="Michael Jackson" 
Name[::2]

'McalJcsn'

In [ ]:
Name[0:5:2]

'Mca'

In [ ]:
Statement= " is the best"
Name="Michael Jackson"
Name=Name+Statement
NAME=Name.upper()
print(Name)
print(NAME)

Michael Jackson is the best
MICHAEL JACKSON IS THE BEST

# Module 1 - Python Basics: - Lab string operators

In [ ]:
d="ABCDEFG"
print(d[:3])

ABC

In [ ]:
e= "clocrkr1e1c1t"
print(e[::2])

correct

In [ ]:
f="You are wrong"
print(f.upper())

YOU ARE WRONG

In [ ]:
g= "Mary had a little lam, little lamb"
g.find("had")

5

In [ ]:
print(g.replace("Mary", "Bob"))

Bob had a little lam, little lamb

# Review Questions

1.-What is the result of the following operation in Python 
3+2*2

In [ ]:
3+2*2

7

2.- In Python, if you executed name = "Lizz", what would be the output of print(name[0:2])?

In [ ]:
name='Lizz'
print(name[0:2])

Li

3.- In Python, if you executed var = '01234567', what would be the result of print(var[::2])?

In [ ]:
var='01234567'
print(var[::2])

0246

4.- InPython, what is the result of the following operation '1'+'2'?

In [ ]:
'1'+'2'

'12'

5.-Given myvar = 'hello', how would you convert myvar into uppercase?

In [ ]:
myvar='hello'
print(myvar.upper())

HELLO

# Module 2 - Python Data Structures: List and Tuples

Tuples: 

*   An ordered sequence
*   Written as comma - sepparated elements within parentheses
*   Type of variable is Tupple
*   They are inmutable, they can not be modified. 

List: 

*  Ordered sequences 
*  Are mutable
*  They are mutable

Question 1: How do you access the last element of the following tuple: A=(0,1,2,3)? Select all possible correct answers.

In [ ]:
A=(0,1,2,3)
print(A[3])
print(A[-1])

3
3

Question 2: Consider the list: B=["a","b","c"].

What is the result of the following B[1:]?

In [ ]:
B=["a","b","c"]
print(B[1:])

['b', 'c']

In [ ]:
A=(0,1,2,3)
print(A[:2])
B=["a","b","c"]
print(B[:2])

(0, 1)
['a', 'b']

In [ ]:
B[0]="A"
print(B)

['A', 'b', 'c']

# Module 2 - Python Data Structures : Lab  Tuples

In [ ]:
#Create your first tuple 
tuple1=("disco",10,1.2)
tuple1
type(tuple1)

tuple

In [ ]:
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])

disco
10
1.2

In [ ]:
print(type(tuple1[0]))
print(type(tuple1[1]))
print(type(tuple1[2]))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
print(tuple1[-1])
print(tuple1[-2])
print(tuple1[-3])

1.2
10
disco

In [ ]:
tuple2= tuple1+("hard rock",10)
tuple2

('disco', 10, 1.2, 'hard rock', 10)

In [ ]:
tuple2[0:3]

('disco', 10, 1.2)

In [ ]:
tuple2[3:5]

('hard rock', 10)

In [ ]:
len(tuple2)

5

In [ ]:
ratings=(0,9,6,5,10,8,9,6,2)
RatingsSorted= sorted(ratings)
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [ ]:
NestedT= (1,2,("pop","rock"),(3,4),("disco",(1,2)))
print("Element 0 of Tuple", NestedT[0])
print("Element 1 of Tuple", NestedT[1])
print("Element 2 of Tuple", NestedT[2])
print("Element 3 of Tuple", NestedT[3])
print("Element 4 of Tuple", NestedT[4])

Element 0 of Tuple 1
Element 1 of Tuple 2
Element 2 of Tuple ('pop', 'rock')
Element 3 of Tuple (3, 4)
Element 4 of Tuple ('disco', (1, 2))

In [ ]:
print("Element 2,0 of Tuple", NestedT[2][0])
print("Element 2,1 of Tuple", NestedT[2][1])
print("Element 3,0 of Tuple", NestedT[3][0])
print("Element 3,1 of Tuple", NestedT[3][1])
print("Element 4,0 of Tuple", NestedT[4][0])
print("Element 4,1 of Tuple", NestedT[4][1])

Element 2,0 of Tuple pop
Element 2,1 of Tuple rock
Element 3,0 of Tuple 3
Element 3,1 of Tuple 4
Element 4,0 of Tuple disco
Element 4,1 of Tuple (1, 2)

In [ ]:
NestedT[2][1][0]

'r'

In [ ]:
NestedT[2][1][1]

'o'

In [ ]:
NestedT[4][1][0]

1

In [ ]:
NestedT[4][1][1]

2

In [108]:
#Sample Tuple 
geneeres_tuple = ("pop","rock","soul","hard rock","soft rock", "R&B","progressive rock", "disco")
len(geneeres_tuple)
print(geneeres_tuple[3])
print(geneeres_tuple[3:6])
print(geneeres_tuple[:2])
print(geneeres_tuple.index("disco"))
sortedList= sorted(geneeres_tuple)
print(sortedList)

hard rock
('hard rock', 'soft rock', 'R&B')
('pop', 'rock')
7
['R&B', 'disco', 'hard rock', 'pop', 'progressive rock', 'rock', 'soft rock', 'soul']

# Module 2 - Python Data Structures: Lab - Lists

In [112]:
L=["Michael Jackson",10.1, 1982]
print("The same element using positive: ",L[0]," and negative index: ", L[-3])
print("The same element using positive: ",L[1]," and negative index: ", L[-2])
print("The same element using positive: ",L[2]," and negative index: ", L[-1])

The same element using positive:  Michael Jackson  and negative index:  Michael Jackson
The same element using positive:  10.1  and negative index:  10.1
The same element using positive:  1982  and negative index:  1982

In [115]:
L=["Michael Jackson",10.1, 1982,[1,2],("A",1)]
L[3:5]

[[1, 2], ('A', 1)]

In [118]:
L.extend(["pop",10])
print(L)

['Michael Jackson', 10.1, 1982, [1, 2], ('A', 1), 'pop', 10, 'pop', 10, 'pop', 10]

In [120]:
L=["Michael Jackson",10.1, 1982]
L.append(["pop",10])
print(L)

['Michael Jackson', 10.1, 1982, ['pop', 10]]

In [121]:
L=["Michael Jackson",10.1, 1982]
L.extend(["pop",10])
print(L)

['Michael Jackson', 10.1, 1982, 'pop', 10]

In [122]:
A= ["disco",10,1.2]
print( "Before change: ",A)
A[0]="hard Rock"; 
print("After change: ", A)

Before change:  ['disco', 10, 1.2]
After change:  ['hard Rock', 10, 1.2]

In [123]:

print( "Before change: ",A)
del(A[0]); 
print("After change: ", A)

Before change:  ['hard Rock', 10, 1.2]
After change:  [10, 1.2]

In [126]:
"hard rock".split()

['hard', 'rock']

In [127]:
"A,B,C,D".split(",")

['A', 'B', 'C', 'D']

In [130]:
A=["hard rock",10,1.2]
B=A
print("A:",A)
print("B:",B)

A: ['hard rock', 10, 1.2]
B: ['hard rock', 10, 1.2]

In [140]:
print("B[0]: ", B[0])
A[0]="Banana"
print("B[0]: ", B[0])
print("A[0]: ", A[0])

B[0]:  Banana
B[0]:  Banana
A[0]:  Banana

In [135]:
B=A[:]
B

['Banana', 10, 1.2]

In [138]:
print("B[0]: ", B[0])
A[0]="Hard Rock"
print("B[0]: ", B[0])
print("A[0]: ", A[0])

B[0]:  Banana
B[0]:  Banana
A[0]:  Hard Rock

QUIZZ

In [144]:
List=(1,"hello",[1,2,3],True)
print(List[1])
print(List[:3])

hello
(1, 'hello', [1, 2, 3])

In [147]:
A=[1,"A"]
B=[2,1,"d"]
A+B

[1, 'A', 2, 1, 'd']

# Module 2 - Python Data Structures: Sets



*   Sets are type of collection
*   They are unordered
*   Only have unique Elements

Question 1: What is the result of the following lines of code:

S={'A','B','C'}

U={'A','Z','C'}

U.union(S)

In [148]:
S={'A','B','C'}

U={'A','Z','C'}

U.union(S)

{'A', 'B', 'C', 'Z'}

Question 2: What is the intersection of set S and U?

S={'A','B','C'}

U={'A','Z','C'}

In [151]:
S={'A','B','C'}
U={'A','Z','C'}
K= S&U
print(K)

{'C', 'A'}