<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-Jose-Bernardo-Moreno-Villarreal/blob/main/Semana_5_IBM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# A01794050 - Moreno Villarreal José Bernardo

*En cada una de las secciones del curso de IBM agrego un comentario sobre lo aprendido. *

*En el módulo 2 de Análisis con Phyton se muestra la importancia y algunas técnicas del pre procesamiento de datos. Se observa como manejar valores faltantes, dar formato a los datos, normalización de datos, entre otros.*

#Modulo 2 .-  Dealing with missing values in Python

Usualmente un valor falnte puede aparecer como "?", Na. Usualmente representado en Phyton como NaN

Formas de tratar datos faltantes: 

* Revisar la fuente de los datos 
* Retirar los datos faltantes 
  * -variable 
  * -entrada
* Remplazar los valores faltantes
  * -promedio 
  * -frecuencia

In [1]:
import pandas as pd 
path='https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/auto.csv'
df= pd.read_csv(path,header=None)

In [3]:
df.shape

(205, 26)

El comando dropna ayuda a retirar los NaN. Para modificar el dataframe es importante colocar el mètodo inplace=True

In [8]:
df.dropna(axis=0,inplace=True)

#Modulo 2 - Data Formatting in Phyton

Dar formato a los datos significa traer los datos a una representación estándard para que el usuario haga comparaciones significantes. 

Se requiere que la información sea entendible.

Para identificar el tipo de datos se utlizs dtypes

In [10]:
df.dtypes

0       int64
1      object
2      object
3      object
4      object
5      object
6      object
7      object
8      object
9     float64
10    float64
11    float64
12    float64
13      int64
14     object
15     object
16      int64
17     object
18     object
19     object
20    float64
21     object
22     object
23      int64
24      int64
25     object
dtype: object

Se puede utilizar el metodo astype() para cambiar el tipo de dato

In [18]:
df[:0]= df[:0].astype("float")

#Módulo 2 - Data Normalization

Se requiere utilizar normalizaciòn cuando se desea que los rangos entre variables sean consistentes. 

Mètodos para normalizar 

* Simple feature scaling 
* Min-Max (range) 
* Z-score (standard score)

#Módulo 2 - Binning in Phyton

* Agrupar datos 
* Convertir datos numéricos en variables categóricas 
* Permite entender de mejor manera la distribución de los datos 
* Se utliza la función cut

#Módulo 2 - Turning categorical variables into quantitative variables

* Asignar variable entre 0 y 1 para cada categoría 
* Se utiliza el comando get_dummies()

#Módulo 2 - LAB