<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-Jose-Bernardo-Moreno-Villarreal/blob/main/Semana%202-%20Actividad%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# A01794050 - Moreno Villarreal José Bernardo

*En cada una de las secciones del curso de IBM agrego un comentario sobre lo aprendido. *

*En el módulo 4 se observa cómo abrir y cerrar archivos, obtener información escrita en el archivo o bien procesar información y guardarla en un archivo. También se muestra el uso de la librería pandas y la utilización de DataFrames*

*Se utiliza el comando with y los atributos de: *



*   r ---> leer el archivo
*   w ---> sobreescribe el archivo 
*   a ---> añade contenido al archivo

# Module 4 - Working with Data in Course

Se requiere utilizar la funcion "Open", asignarla a un objeto tipo archivo. 

Argumentos: 



*   Dirección/localización del archivo
*   Modo (w--> escribir, r --> leer)

##Module 4: Reading Files with Open

In [ ]:
File1=open("/content/sample_data/california_housing_train.csv","r")

Obtener el nombre del archivo

In [ ]:
File1.name

'/content/sample_data/california_housing_train.csv'

Obtener modo de archivo

In [ ]:
File1.mode

'r'

Cerrar Archivo

In [ ]:
File1.close()

El comando with es utilizado para abrir ardchivos porque cierra el archivo automaticamente.

In [1]:
with open ('/content/sample_data/mnist_test.csv',"r") as File2: 
  file_stuff=File2.read()
print(File2.closed)

True

##Module 4 - LAB: reading files

Para este ejercicio se trabaja con un archivo cargado a la carpeta de content en Colab.

In [7]:
from google.colab import drive
drive.mount('/content/drive')
with open ("/content/ArchivoTXT_Python.txt","r") as File2: 
  file_stuff=File2.read()
  print(file_stuff)
print(File2.closed)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
Este es un archivo de prueba
para la práctica de ciencia
de datos 2022
True

Leer archivo

In [42]:

path="/content/ArchivoTXT_Python.txt"
file1 = open(path, "r")

In [11]:
file1.mode

'r'

In [12]:
FileContent = file1.read()
FileContent

'Este es un archivo de prueba\npara la práctica de ciencia \nde datos 2022'

In [13]:
print(FileContent)

Este es un archivo de prueba
para la práctica de ciencia
de datos 2022

In [14]:
type(FileContent)

str

In [15]:
file1.close()

Una mejor manera de abrir un archivo es utilizando el comando Open, ya que abre y cierra el archivo de manera automática

In [17]:
with open(path, "r") as file1:
    FileContent = file1.read()
    print(FileContent)

Este es un archivo de prueba
para la práctica de ciencia
de datos 2022

Verifica si el archivo está cerrado

In [18]:

file1.closed

True

In [19]:
print(FileContent)

Este es un archivo de prueba
para la práctica de ciencia
de datos 2022

In [21]:
with open(path, "r") as file1:
    print(file1.read(4))

Este

In [25]:
with open(path, "r") as file1:
    print(file1.read(5))
    print(file1.read(3))
    print(file1.read(11))
    print(file1.read(14))

Este
es
un archivo
de prueba
para

In [30]:
with open(path, "r") as file1:
    print(file1.read(11))
    print(file1.read(8))
    print(file1.read(8))

Este es un
archivo
de prueb

In [31]:
with open(path, "r") as file1:
    print("first line: " + file1.readline())

first line: Este es un archivo de prueba

In [35]:
with open(path, "r") as file1:
    print(file1.readline(30)) # does not read past the end of line
    print(file1.read(29)) # Returns the next 20 chars

Este es un archivo de prueba

para la práctica de ciencia

In [37]:
with open(path,"r") as file1:
        i = 0;
        for line in file1:
            print("Iteration", str(i), ": ", line)
            i = i + 1

Iteration 0 :  Este es un archivo de prueba

Iteration 1 :  para la práctica de ciencia

Iteration 2 :  de datos 2022

In [39]:
with open(path, "r") as file1:
    FileasList = file1.readlines()

In [40]:
FileasList[0]

'Este es un archivo de prueba\n'

In [44]:
FileasList[1]

'para la práctica de ciencia \n'

## Module 4:  Writing Files with Open

*Al utilizar este tipo de atributo, el archivo que se está abriendo se sobreescribe con la información que le pongamos*

In [5]:
Lines=["Este es un ejemplo\n", "de escritura\n", "para mi clase\n"]
with open ("/content/ArchivoTXT_Python2.txt","w") as WriteFile:
 for line in Lines:
  WriteFile.write(line)

In [6]:
with open ("/content/ArchivoTXT_Python2.txt","a") as WriteFile:
 WriteFile.write("de Ciencia de Datos")

##Module 4: Lab - Writing Files

In [9]:
exmp2 = '/content/Example2.txt'
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A")

In [10]:

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A

In [11]:
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

In [12]:
with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B

In [19]:
Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
Lines

['This is line A\n', 'This is line B\n', 'This is line C\n']

In [15]:
with open('Example2.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

This is line A

This is line B

This is line C

In [16]:
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

In [17]:
with open('Example2.txt', 'w') as writefile:
    writefile.write("Overwrite\n")
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite

In [18]:
with open('Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line C\n")
    testwritefile.write("This is line D\n")
    testwritefile.write("This is line E\n")

In [20]:
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite
This is line C
This is line D
This is line E

##Exercise

In [22]:
from random import randint as rnd
memReg = 'members.txt'
exReg = 'inactive.txt'
fee =('yes','no')

def genFiles(current,old):
    with open(current,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))


    with open(old,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[1]))


genFiles(memReg,exReg)

In [25]:
def cleanFiles(currentMem,exMem):
    with open(currentMem,'r+') as writeFile: 
        with open(exMem,'a+') as appendFile:
            #get the data
            writeFile.seek(0)
            members = writeFile.readlines()
            #remove header
            header = members[0]
            members.pop(0)
                
            inactive = [member for member in members if ('no' in member)]
            '''
            The above is the same as 

            for member in members:
            if 'no' in member:
                inactive.append(member)
            '''
            #go to the beginning of the write file
            writeFile.seek(0) 
            writeFile.write(header)
            for member in members:
                if (member in inactive):
                    appendFile.write(member)
                else:
                    writeFile.write(member)      
            writeFile.truncate()


# The code below is to help you view the files.
# Do not modify this code for this exercise.
memReg = 'members.txt'
exReg = 'inactive.txt'
cleanFiles(memReg,exReg)


headers = "Membership No  Date Joined  Active  \n"
with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

Active Members:


Membership No  Date Joined  Active
    31807      2017-9-24    yes
    47697      2018-5-19    yes
    15219      2017-9-24    yes
    24315      2020-9-21    yes
    22392      2019-1-3     yes
    55257      2018-7-6     yes
    88015      2018-11-4    yes
    88455      2019-12-7    yes

Inactive Members:


Membership No  Date Joined  Active
    98073      2015-6-14    no
    97706      2015-7-12    no
    85323      2020-11-22   no
    53808      2015-4-9     no
    21811      2019-12-25   no
    47796      2020-3-2     no
    21227      2019-7-22    no
    91231      2018-12-7    no
    83102      2016-7-21    no
    93217      2016-6-24    no
    52506      2016-11-11   no
    81287      2015-4-4     no
    42188      2019-3-24    no
    19851      2017-4-2     no
    49837      2017-6-15    no

In [27]:
def testMsg(passed):
    if passed:
       return 'Test Passed'
    else :
       return 'Test Failed'

testWrite = "testWrite.txt"
testAppend = "testAppend.txt" 
passed = True

genFiles(testWrite,testAppend)

with open(testWrite,'r') as file:
    ogWrite = file.readlines()

with open(testAppend,'r') as file:
    ogAppend = file.readlines()

try:
    cleanFiles(testWrite,testAppend)
except:
    print('Error')

with open(testWrite,'r') as file:
    clWrite = file.readlines()

with open(testAppend,'r') as file:
    clAppend = file.readlines()
        
# checking if total no of rows is same, including headers

if (len(ogWrite) + len(ogAppend) != len(clWrite) + len(clAppend)):
    print("The number of rows do not add up. Make sure your final files have the same header and format.")
    passed = False
    
for line in clWrite:
    if  'no' in line:
        passed = False
        print("Inactive members in file")
        break
    else:
        if line not in ogWrite:
            print("Data in file does not match original file")
            passed = False
print ("{}".format(testMsg(passed)))

Test Passed

## Module 4: Loading Data with Pandas

In [29]:
import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

In [30]:
import pandas as pd

df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})

In [31]:
df.head(3)

    a   b
0  11  21
1  21  22
2  31  23

In [32]:
df["a"]

0    11
1    21
2    31
Name: a, dtype: int64

## Module 4: Working with and Saving Data with Pandas

In [33]:
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})
df['a']==1

0     True
1    False
2     True
Name: a, dtype: bool

In [34]:
df.to_csv("file.csv")

##Module 4 - LAB: Loading Data and Viewing Data

In [47]:
import pandas as pd

In [48]:
filename = "/content/Albums.csv"
df = pd.read_csv(filename)

In [49]:
df.head()

,Artist,Album,Released,Length,Genre,Music recording sales (millions),Claimed sales (millions),Released.1,Soundtrack,Rating (friends)
0,Michael Jackson,Thriller,1982,00:42:19,"Pop, rock, R&B",46.0,65,30-nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,00:42:11,Hard rock,26.1,50,25-jul-80,NaN,8.5
2,Pink Floyd,The Dark Side of the Moon,1973,00:42:49,Progressive rock,24.2,45,01-mar-73,NaN,9.5
3,Whitney Houston,The Bodyguard,1992,00:57:44,"Soundtrack/R&B, soul, pop",26.1,50,25-jul-80,Y,7.0
4,Meat Loaf,Bat Out of Hell,1977,00:46:33,"Hard rock, progressive rock",20.6,43,21-oct-77,NaN,7.0

In [50]:
x = df[['Length']]
x

     Length
0  00:42:19
1  00:42:11
2  00:42:49
3  00:57:44
4  00:46:33
5  00:43:08
6  01:15:54
7  00:40:01

In [51]:
x = df[['Artist']]
type(x)

pandas.core.frame.DataFrame

In [52]:
y = df[['Artist','Length','Genre']]
y

            Artist    Length                        Genre
0  Michael Jackson  00:42:19               Pop, rock, R&B
1            AC/DC  00:42:11                    Hard rock
2       Pink Floyd  00:42:49             Progressive rock
3  Whitney Houston  00:57:44    Soundtrack/R&B, soul, pop
4        Meat Loaf  00:46:33  Hard rock, progressive rock
5           Eagles  00:43:08   Rock, soft rock, folk rock
6         Bee Gees  01:15:54                        Disco
7    Fleetwood Mac  00:40:01                    Soft rock

In [53]:
df.iloc[0, 0]

'Michael Jackson'

In [54]:
df.iloc[1,0]

'AC/DC'

In [55]:
df.iloc[0,2]

1982

In [56]:
df.iloc[1,2]

1980

In [57]:
df.loc[1, 'Artist']

'AC/DC'

In [58]:
df.loc[0, 'Released']

1982

In [59]:
df.iloc[0:2, 0:3]

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980

In [63]:
df.loc[0:2, 'Artist':'Released']

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973

## Quiz on DataFrame

Use a variable q to store the column Rating as a dataframe

In [67]:
q= df["Rating (friends)"]
q

0    10.0
1     8.5
2     9.5
3     7.0
4     7.0
5     9.5
6     9.0
7     9.5
Name: Rating (friends), dtype: float64

Assign the variable q to the dataframe that is made up of the column Released and Artist:

In [68]:
q = df[['Released', 'Artist']]
q

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac

Access the 2nd row and the 3rd column of df:

In [71]:
df.iloc[1,2]

1980

In [73]:
new_index=['a','b','c','d','e','f','g','h']
df_new=df
df_new.index=new_index
df_new.loc['a', 'Artist']
df_new.loc['a':'d', 'Artist']

a    Michael Jackson
b              AC/DC
c         Pink Floyd
d    Whitney Houston
Name: Artist, dtype: object

#Review Questions

In [43]:
with open(path,"r") as file1:
 FileContent=file1.readlines()
 print(FileContent)

['Este es un archivo de prueba\n', 'para la práctica de ciencia \n', 'de datos 2022']

In [44]:
with open("Example2.txt","w") as writefile:
 writefile.write("This is line A\n")
 writefile.write("This is line B\n")

In [45]:
with open("Example3.txt","a") as file1:
 file1.write("This is line C\n")