<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-Jose-Bernardo-Moreno-Villarreal/blob/main/Semana_3_Limpieza_de_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Limpieza de datos


La limpieza de datos implica observar más de cerca los problemas en los datos que ha seleccionado incluir en el análisis.

## Problema de datos

In [2]:
#Se importan as librerìas Pandas y Numpy
import pandas as pd
import numpy as np

In [4]:
x = {'Company': ['Ford', 'Ford', 'VW', 'BMW', 'Cooper', 'Cooper'], 
     'Stars' : [1, 2, np.nan, 2, 1, 1], 
     'Weight' : [2, 4, 2, 2, 3, None], 
     'Origin' : ['China', 'Mexico', 'Mexico', None, 'China', np.nan], 
     'Length': [40, 50, 30, np.nan, 45, pd.NaT]
}
df  = pd.DataFrame(data = x)
df

  Company  Stars  Weight  Origin Length
0    Ford    1.0     2.0   China     40
1    Ford    2.0     4.0  Mexico     50
2      VW    NaN     2.0  Mexico     30
3     BMW    2.0     2.0    None    NaN
4  Cooper    1.0     3.0   China     45
5  Cooper    1.0     NaN     NaN    NaT

In [5]:
df.to_csv('data.csv')

Alternativamente, podemos leer un conjunto de datos ya disponible:

In [7]:
df = pd.read_csv('/content/data.csv', index_col=0)
df

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     NaN     NaN     NaN

Para verificar, ¿falta algún dato?:

In [8]:
df.isnull().values.any()

True

In [9]:
df.isnull().any()

Company    False
Stars       True
Weight      True
Origin      True
Length      True
dtype: bool

## Solución 1:

Descartar las observaciones con valores faltantes

In [10]:
df.dropna(inplace = True)
df.isna().values.any()

False

In [11]:
df

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
4  Cooper    1.0     3.0   China    45.0

In [12]:
df = pd.read_csv('/content/data.csv', index_col=0)
df.isna().any()

Company    False
Stars       True
Weight      True
Origin      True
Length      True
dtype: bool

In [13]:
ndf = df.copy()
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     NaN     NaN     NaN

In [14]:
ndf.dropna(axis = 1, inplace = True) # axis 1 is columns / axis 0 is rows. 
ndf

  Company
0    Ford
1    Ford
2      VW
3     BMW
4  Cooper
5  Cooper

In [15]:
ndf = df.copy()
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     NaN     NaN     NaN

In [16]:
ndf.dropna(how='all', inplace = True)
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     NaN     NaN     NaN

In [17]:
ndf = df.copy()
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     NaN     NaN     NaN

In [18]:
ndf.dropna(thresh=4, inplace = True) # In a row, it needs at least 4 nan values is needed, to maintain in df
ndf # in case of column  add   axis=1

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
4  Cooper    1.0     3.0   China    45.0

In [19]:
ndf = df.copy()
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     NaN     NaN     NaN

In [20]:
ndf.dropna(thresh = 5,  #if there is not 5 nan values, the column will be eliminated 
           axis = 1, 
           inplace = True
           ) 
ndf

  Company  Stars  Weight
0    Ford    1.0     2.0
1    Ford    2.0     4.0
2      VW    NaN     2.0
3     BMW    2.0     2.0
4  Cooper    1.0     3.0
5  Cooper    1.0     NaN

Solucion 2:

In [21]:
ndf = df.copy()

In [22]:
wm = ndf.Weight.mean()
wm

2.6

In [23]:
ndf['Weight'].fillna(value = wm, 
                    inplace = True)
ndf

  Company  Stars  Weight  Origin  Length
0    Ford    1.0     2.0   China    40.0
1    Ford    2.0     4.0  Mexico    50.0
2      VW    NaN     2.0  Mexico    30.0
3     BMW    2.0     2.0     NaN     NaN
4  Cooper    1.0     3.0   China    45.0
5  Cooper    1.0     2.6     NaN     NaN