<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-Jose-Bernardo-Moreno-Villarreal/blob/main/Semana_3_Limpieza_de_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Semana 3: Limpieza de datos**
##Ciencia y Analítica de Datos 
####Profr: Dr. Jobish 
#### 04-Octubre-2022

#####A01794050 - Moreno Villarreal José Bernardo 
#####A01793814 - Rincón Morales Emerson Jonathan

In [60]:
#Importamos las librerías Pandas y Numpy 
import pandas as pd
import numpy as np

In [63]:
#Leemos los datos del archivo y los asignamos al DataFrame "Datos"
datos= pd.read_csv('/content/sample_data/CreditCard.csv', index_col=0)
datos

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,-2.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,0.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,0.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

In [71]:
#Verificamos si falta algún dato 
datos.isnull().values.any()

False

In [67]:
#Observamos en qué columnas tenemos valores faltantes 
datos.isnull().any()

X1     False
X2      True
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool

###Approach 1: Descartar las observaciones faltantes

In [77]:
#utilizamos Dropna para retirar las filas que no tengan datos 
datos.dropna(axis=0,inplace= True)
datos.isnull().any()

X1     False
X2     False
X3     False
X4     False
X5     False
X6     False
X7     False
X8     False
X9     False
X10    False
X11    False
X12    False
X13    False
X14    False
X15    False
X16    False
X17    False
X18    False
X19    False
X20    False
X21    False
X22    False
X23    False
Y      False
dtype: bool

In [76]:
#Ya no se tienen datos faltantese pero se perdieron 42 filas
datos.shape

(29958, 24)

In [88]:
#Abrimos el mismo archivo pero lo asignamos a otro Dataframe para que el anterior no se vea afectado. Comprobamos si tenemos valores faltantes
datos2= pd.read_csv('/content/sample_data/CreditCard.csv', index_col=0)
#Retiramos columnas que tengan datos faltantes
datos2.dropna(axis=1,inplace= True)
datos2.isnull().any()

X1    False
dtype: bool

In [89]:
#Con este metodo se pierde gran parte de la información, se retiran 23 columnas
datos2.shape

(30000, 1)

In [90]:
#Abrimos el mismo archivo pero lo asignamos a otro Dataframe para que el anterior no se vea afectado. Retiramos todas las fillas que no tengan ningun dato
datos3= pd.read_csv('/content/sample_data/CreditCard.csv', index_col=0)
datos3.dropna(how='all', inplace = True)
datos3.isnull().any()

X1     False
X2      True
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool

In [92]:
#Este método nos mantiene la misma información, indica que ninguna fila tiene toda su información faltante
datos3.shape

(30000, 24)

###Approach 2: Sustituir las observaciones faltantes

In [102]:
#Leemos los datos del archivo y los asignamos al DataFrame "Datos"
Datos= pd.read_csv('/content/sample_data/CreditCard.csv', index_col=0)
Datos.isnull().any()

X1     False
X2      True
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool

In [104]:
#Se observa que la columna X2 tiene al menos una observación faltante, debido a que es un dato numérico calculamos la media
w_X2=Datos.X2.mean()
w_X2

1.603753458448615

In [106]:
#Sustituimos el valor en la columna con observaciones faltantes 
Datos['X2'].fillna(value = w_X2, 
                    inplace = True)
Datos.isnull().any()

X1     False
X2     False
X3      True
X4      True
X5      True
X6      True
X7      True
X8      True
X9      True
X10     True
X11     True
X12     True
X13     True
X14     True
X15     True
X16     True
X17     True
X18     True
X19     True
X20     True
X21     True
X22     True
X23     True
Y       True
dtype: bool